<div class="app-container">
  <h1>{{ title }}</h1>

  <div class="action-row">
    <kendo-dropdownbutton
      [data]="dropdownItems"
      (itemClick)="onDropdownItemClick($event)"
      themeColor="secondary"
    >
      Actions
    </kendo-dropdownbutton>
    <button kendoButton themeColor="primary" (click)="onActionButtonClick()">
      Kendo Button
    </button>
  </div>

  <div class="progress-row">
    <kendo-progressbar [value]="progressValue" [max]="100"></kendo-progressbar>
    <button kendoButton themeColor="primary" (click)="incrementProgress()">
      +10%
    </button>
  </div>
  
  <div class="button-group">
    <button kendoButton (click)="openDialog()" themeColor="primary">
      Open Dialog
    </button>
    <button kendoButton (click)="openWindow()" themeColor="info">
      Open Window
    </button>

    <button kendoButton (click)="openDialogViaService()" themeColor="secondary">
      Open Dialog (Service)
    </button>
    <button kendoButton (click)="openWindowViaService()" themeColor="secondary">
      Open Window (Service)
    </button>
  </div>

  <kendo-dialog *ngIf="dialogOpened" (close)="closeDialog()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
      <div>Dialog Title</div>
    </kendo-dialog-titlebar>
    <app-dialog-form></app-dialog-form>
    <kendo-dialog-actions>
      <button kendoButton (click)="closeDialog()">Close</button>
    </kendo-dialog-actions>
  </kendo-dialog>

  <kendo-window *ngIf="windowOpened" (close)="closeWindow()" [minWidth]="250" [width]="500">
    <kendo-window-titlebar>
      <div>Window Title</div>
    </kendo-window-titlebar>
    <app-window-form></app-window-form>
  </kendo-window>
</div>

<ng-template kendoDialogContainer></ng-template>
<ng-template kendoWindowContainer></ng-template>
