<div class="app-container">
  <h1>{{ title() }}</h1>

  <div class="action-row">
    <kendo-dropdownbutton
      [data]="dropdownItems"
      (itemClick)="onDropdownItemClick($event)"
      themeColor="secondary"
    >
      Actions
    </kendo-dropdownbutton>
    <button kendoButton themeColor="primary" (click)="onActionButtonClick()">
      Kendo Button
    </button>
  </div>

  <div class="progress-row">
    <kendo-progressbar [value]="progressValue()" [max]="100"></kendo-progressbar>
    <button kendoButton themeColor="primary" (click)="incrementProgress()">+10%</button>
  </div>
  
  <div class="button-container">
    <button kendoButton (click)="openDialog()" [primary]="true">
      Open Dialog
    </button>
    <button kendoButton (click)="openWindow()" [primary]="true">
      Open Window
    </button>

    <button kendoButton (click)="openDialogViaService()" themeColor="secondary">
      Open Dialog (Service)
    </button>
    <button kendoButton (click)="openWindowViaService()" themeColor="secondary">
      Open Window (Service)
    </button>
  </div>

  @if (dialogOpened()) {
    <kendo-dialog [title]="'Dialog Form'" (close)="closeDialog()" [width]="450">
      <app-dialog-form></app-dialog-form>
      <kendo-dialog-actions>
        <button kendoButton (click)="closeDialog()">Close</button>
      </kendo-dialog-actions>
    </kendo-dialog>
  }

  @if (windowOpened()) {
    <kendo-window [title]="'Window Form'" (close)="closeWindow()" [width]="500" [height]="400">
      <app-window-form></app-window-form>
    </kendo-window>
  }

  <app-grid-example></app-grid-example>
</div>

<ng-template kendoDialogContainer></ng-template>
<ng-template kendoWindowContainer></ng-template>
